@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swa);
@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Outfit&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swap);

/*.pageHeight {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: grid;
  position: relative;
}*/

/*.big {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}*/

/*.signin {
  display: inline-flex;
 
  padding: 110px 161px 109.48px 162px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  border: 2px solid var(--neutral-000, #fff);
  background: rgba(255, 255, 255, 0.15);
 
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
 
}*/

/*.leftSigninContainer {
  width: 549px;
  background-color: #8e94e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/


/*.rightContainer {

  height: 100vh;
  position: relative;
  display: flex;
}*/

/*.passwordContainer {
  display: inline-flex;
  height: 728px;
  width: 698px;
  padding: 110px 161px 109.48px 162px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  border: 2px solid var(--neutral-000, #fff);
  background: rgba(255, 255, 255, 0.15);

  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);

  margin: auto 0;
}*/

/*.mail {
  margin-bottom: 24px;
  margin: 0 auto;
}*/

/*.circle1 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 156.25px;
  border: 5px solid var(--neutral-000, #fff);
  margin-left: 150px;
 
}*/

/*.circle2 {
  width: 293px;
  height: 150px;
  display: flex;
  flex-shrink: 0;
  border-radius: 156.25px;
  border: 4.688px solid var(--neutral-000, #fff);
  background: #fff;
  justify-content: center;
}*/

/*.leftCircle2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 150px;
  margin-right: 20px;
}
*/
/*.photos {
  display: flex;
}

.photo1 {
  margin-left: 20px;
}

.photo2 {
  margin-left: -10px;
}

.photo3 {
  margin-left: -10px;
}*/

/*.letter {
  color: var(--purple-500, #656de1);
  font-family: Urbanist;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}*/

/*.rightBag {
  width: 142px;
  height: 142px;
  margin-right: -16px;
  background-color: #8e94e9;
  display: flex;
  border-radius: 156.25px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}*/

/*bagPhoto {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}
*/

/*.two {
  display: flex;
}
*/
/*.circle3 {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 156.25px;
  border: 5px solid var(--neutral-000, #fff);
}*/

/*.hiLetter {
  color: var(--purple-300, #8e94e9);
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  position: absolute;
  z-index: 1;
  transform: rotate(10deg);
}
*/
/*.hiPhoto {
  fill: var(--neutral-000, #fff);
  width: 92.307px;
  height: 71.464px;
  flex-shrink: 0;
  position: relative;
}*/


/*.circle4 {
  width: 150px;
  height: 474px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  border: 5px solid var(--neutral-000, #fff);
  background: #f6ff82;
  align-items: center;
}*/

/*.letterCircle4 {
  color: var(--purple-500, #656de1);
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  padding-top: 100px;
}*/

/*.boyPhoto {
  margin-bottom: -37px;
  padding-top: 28px;
}
*/

/*.subCircle4Box {
  width: 140px;
  height: 140px;
  background: #68b6d8;
  flex-shrink: 0;
  border-bottom-left-radius: 66px;
  border-bottom-right-radius: 66px;
}

.circle5 {
  width: 150px;
  height: 452px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 5px solid var(--neutral-000, #fff);
  background: #b79ced;
  margin-top: -325px;
}

.subCircle5 {
  display: flex;
  flex-direction: column;
  margin-top: 140.4px;
}

.circleLetter {
  color: var(--neutral-000, #fff);
  font-family: Urbanist;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-left: 85px;
}

.girlPhoto {
  margin-bottom: -70px;
  width: 140px;
  height: 199.201px;
  flex-shrink: 0;
}

.subBox {
  margin-top: 6px;
  width: 140px;
  height: 95px;
  flex-shrink: 0;
  background: #8e94e9;
  border-bottom-left-radius: 66px;
  border-bottom-right-radius: 66px;
}
*/

/*.circle6 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 156.25px;
  background: var(--yellow-300, #f6ff82);
}*/

/*.circle7 {
  width: 150px;

  flex-shrink: 0;
  border-radius: 156.25px 156.25px 0px 0px;
  border: 3px solid var(--neutral-000, #fff);
  margin-top: -128px;
}

.circle7second {
  width: 149px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 162px 165px 0px 0px;
  border-top: 3px solid var(--neutral-000, #fff);
  margin-top: 42px;
  opacity: 0.5;
}

.circle7third {
  height: 80px;
  width: 150px;
  flex-shrink: 0;
  border-radius: 156.25px 156.25px 0px 0px;
  border-top: 3px solid var(--neutral-000, #fff);
  opacity: 0.25;
  margin-top: -60px;
}

.three {
  display: flex;
}*/

/*.title {
  color: var(--neutral-000, #fff);
  text-align: center;

  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;

  margin: 0 auto 16px auto;
}*/

/*.sendEmail,
.reset {
  border-radius: 30px;
  background: var(--yellow-300, #f6ff82);
  display: flex;
  width: 367px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--purple-300, #8e94e9);
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.4px;
  margin: 0 auto 12px auto;
}*/

/*.explanation {
  color: var(--neutral-000, #fff);
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.explanation2 {
  color: var(--neutral-000, #fff);
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 48px;
}*/

/*.inputEmail,
.inputPassword {
  border-radius: 100px;
  background: var(--neutral-000, #fff);
  display: flex;
  width: 367px;
  height: 47.472px;
  padding: 8px 8px 8px 24px;
  align-items: center;
  gap: 8px;
  margin: 0 auto 12px auto;
}
*/
/*.inputPasswordCode {
  margin-bottom: 60px;
  border-radius: 100px;
  background: var(--neutral-000, #fff);
  display: flex;
  width: 367px;
  height: 47.472px;
  padding: 8px 8px 8px 24px;
  align-items: center;
  gap: 8px;
}*/

/*input::placeholder {
  color: var(--neutral-900, #090a10);
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.3;
}*/

/*.help {
  color: #fff;

  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 0 auto;
}*/

/*.helpEmail {
  color: var(--neutral-000, #fff);

  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.32px;
}*/

/*.newPassword,
.passwordCode {
  color: var(--neutral-000, #fff);

  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;

  letter-spacing: 0.32px;
}
*/
/*.successImage {
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}*/

/*.success {
  color: var(--neutral-000, #fff);
  text-align: center;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 110%;

}*/

/*.successMessage {
  color: var(--neutral-000, #fff);
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 64px;
}*/

/*.errorMessage {
  color: var(--neutral-000, #fff);
  display: flex;
  text-align: left;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  margin: -5px auto 5px auto;
}*/

/*.errorImage {
  background-color: red;
  border-radius: 50%;
}*/

/*.message {
  margin-left: 5px;
  margin-top: -5px;
  text-align: left;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  word-wrap: break-word;
}
*/