@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swa);
@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Outfit&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swap);

.formContainer {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
}

.share {
  font-family: Urbanist;
  font-style: normal;
  line-height: 110%;
}

.firstBox,
.secondBox {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.line1,
.line2,
.line3,
.line4 {
  display: flex;
}

.email,
.company,
.url,
.verify {
  color: var(--neutral-000, #fff);

  /* Heading/H6 */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
}

.inputEmail,
.inputCompany,
.inputUrl {
  border-radius: 5px;
  background: var(--neutral-000, #fff);
  display: flex;
  padding: 4px 4px 4px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 364px;
  height: 24px;
}

input::placeholder {
  color: var(--neutral-900, #090a10);
  /* Body/16/regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  opacity: 0.3;
}

.LinkedIn {
  display: flex;
  padding: 4px 4px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--purple-300, #8e94e9);
  color: var(--neutral-000, #fff);
  /* Body/16/regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.discountName {
  color: white;
}

.percentage {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 2.667px 2.665px 2.666px 2.667px;
  justify-content: center;
  align-items: center;
}

.amount {
  color: var(--neutral-000, #fff);
  /* Heading/H6 */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
}

.discount{
  display: flex;
  flex-direction: row;
}

.agree {
  color: #fff;

  /* Body/16/regular */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.submitButtons {
  display: flex;
  margin-top: 8px;
}

.save {
  color: var(--purple-300, #8e94e9);
  text-align: center;
  /* Label/20/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 25px */
  letter-spacing: 0.4px;
  border-radius: 30px;
  background: var(--yellow-300, #f6ff82);
  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cancel {
  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1.5px solid var(--neutral-000, #fff);
  color: var(--neutral-000, #fff);
  text-align: center;
  /* Label/20/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 25px */
  letter-spacing: 0.4px;
  margin-left: 16px;
}
