@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swa);

.container {
  background: var(--purple-300, #8e94e9);
  /* width: 1440px;
  height: 931px; */
  display: flex;
  justify-content: space-between
}

.signin {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  /* opacity: 75%; */
  position: relative;
}

.circle6 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 156.25px;
  background: var(--yellow-300, #f6ff82);
}

.circle1 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 156.25px;
  border: 5px solid var(--neutral-000, #fff);
  margin-left: 150px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
}

.circles {
  display: flex;
  flex-direction: column;
}

.halfCircle1 {
  border-radius: 0 0 156.25px 156.25px;
  border: 3px solid var(--neutral-000, #fff);
  width: 150px;
  height: 130px;
  /* height: 738px; */
  flex-shrink: 0;
  opacity: 0.25;
  border-top: none;
}

.halfCircle2 {
  border-radius: 0 0 156.25px 156.25px;
  border: 3px solid var(--neutral-000, #fff);
  width: 150px;
  height: 170px;
  /* height: 738px; */
  flex-shrink: 0;
  opacity: 0.5;
  margin-top: -100px;
  border-top: none;
}

.halfCircle3 {
  border-radius: 0 0 156.25px 156.25px;
  border: 3px solid var(--neutral-000, #fff);
  width: 150px;
  height: 305px;
  /* height: 738px; */
  flex-shrink: 0;
  border-top: none;
  margin-top: -225px;
}

.circle3 {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  /* padding: 37px 23.498px 23.753px 23px; */
  justify-content: center;
  align-items: center;
  border-radius: 156.25px;
  border: 5px solid var(--neutral-000, #fff);
}

.hiLetter {
  color: var(--purple-300, #8e94e9);
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  /* 40px */
  position: absolute;
  z-index: 1;
  transform: rotate(10deg);
}

.hiPhoto {
  fill: var(--neutral-000, #fff);
  width: 92.307px;
  height: 71.464px;
  flex-shrink: 0;
  position: relative;
}

.circle5 {
  width: 150px;
  height: 452px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 5px solid var(--neutral-000, #fff);
  background: #b79ced;
}

.subCircle5 {
  display: flex;
  flex-direction: column;
  margin-top: 140.4px;
}

.circleLetter {
  color: var(--neutral-000, #fff);
  font-family: Urbanist;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-left: 85px;
}

.girlPhoto {
  margin-bottom: -70px;
  width: 140px;
  height: 199.201px;
  flex-shrink: 0;
}

.subBox {
  margin-top: 6px;
  width: 140px;
  height: 95px;
  flex-shrink: 0;
  background: #8e94e9;
  border-bottom-left-radius: 66px;
  border-bottom-right-radius: 66px;
}

.yellowBox {
  border-radius: 156.25px 156.25px 156.25px 156.25px;
  background: var(--yellow-300, #f6ff82);
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.middleContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.check {
  width: 60px;
  height: 60px;
  border-radius: 75px;
  border: 2.25px solid var(--neutral-000, #fff);
  display: flex;
  margin: 0 auto;
  /* need to figure out center align */
}

.successWord {
  color: var(--neutral-000, #fff);
  text-align: center;
  /* Display/D1 */
  font-family: Urbanist;
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  /* 150px */
  letter-spacing: -4.8px;
  align-self: stretch;
  align-self: stretch;
}

.verifiedAccount {
  align-self: stretch;
  color: var(--neutral-000, #fff);
  text-align: center;
  margin-bottom: 72px;

  /* Heading/H5 */
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  /* 22.5px */
}

.startButton {

  width: 380px;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: var(--yellow-300, #f6ff82);
  color: var(--purple-300, #8e94e9);
  text-align: center;
  /* Label/20/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 25px */
  letter-spacing: 0.4px;
  margin: 0 auto;
}

.rightHalfCircle {
  width: 150px;
  height: 166px;
  border-radius: 0 0 156.25px 156.25px;
  border-top: none;
  border: 3px solid var(--neutral-000, #fff);
}

.bagIcon {
  display: flex;
  width: 150px;
  height: 150px;
  padding: 27px 27.25px 27px 26.75px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 156.25px;
  background: var(--neutral-000, #fff);
}

.circle4 {
  width: 150px;
  height: 474px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  border: 5px solid var(--neutral-000, #fff);
  background: #f6ff82;
  align-items: center;
}

.letterCircle4 {
  color: var(--purple-500, #656de1);
  /* Heading/H4 */
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  padding-top: 100px;
}

.boyPhoto {
  margin-bottom: -37px;
  padding-top: 28px;
}

.subCircle4Box {
  width: 140px;
  height: 140px;
  background: #68b6d8;
  flex-shrink: 0;
  border-bottom-left-radius: 66px;
  border-bottom-right-radius: 66px;
}

.circle7 {
  width: 150px;
  /* height: 205px; */
  /* height: 270px; */
  flex-shrink: 0;
  border-radius: 156.25px 156.25px 0px 0px;
  border: 3px solid var(--neutral-000, #fff);
  /* margin-top: -128px; */
}

.circle7second {
  width: 149px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 162px 165px 0px 0px;
  border-top: 3px solid var(--neutral-000, #fff);
  margin-top: 42px;
  opacity: 0.5;
}

.circle7third {
  height: 80px;
  width: 150px;
  flex-shrink: 0;
  border-radius: 156.25px 156.25px 0px 0px;
  border-top: 3px solid var(--neutral-000, #fff);
  opacity: 0.25;
  margin-top: -60px;
}