@import url(https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Noto+Sans&family=Nunito+Sans&family=Outfit&family=Playfair+Display&family=Poppins:wght@300&family=Urbanist&family=Yantramanav:wght@100;300;400&display=swap);

body {
  background-color: #1A1A23;
}

.messageUi {
  height: 85vh;
  width: 95vw;
  margin-left: 2.5vw;
}