@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.str-chat {
  --str-chat__primary-color: #8e94e9;
  --str-chat__active-primary-color: red;
  --str-chat__surface-color: #8e94e9;
  --str-chat__secondary-surface-color: rgba(255, 255, 255, 0.3);
  --str-chat__primary-surface-color: #8e94e9;
  --str-chat__primary-surface-color-low-emphasis: yellow;
  --str-chat__message-bubble-color: #fff;
  --str-chat__background-color: rgba(255, 255, 255, 0);
  --str-chat__secondary-background-color: rgba(255, 255, 255, 0);
  --str-chat__text-color: white;
  --str-chat__channel-preview-border-radius: 10px;
  --str-chat__message-textarea-border-radius: none;
  --str-chat__message-textarea-border-block-start: 1px solid
    rgba(255, 255, 255, 0.3);
  --str-chat__font-family: 'Urbanist', sans-serif;
  --str-chat__message-textarea-border-block-end: none;
  --str-chat__message-textarea-border-inline-start: none;
  --str-chat__message-textarea-border-inline-end: none;
  --str-chat__message-send-color: white;
  --str-chat__message-input-tools-color: white;
  --str-chat__message-mention-color: white;
  --str-chat__deleted-message-color: white;

  /* Searchbar */
  --str-chat__channel-search-input-color: black;
  --str-chat__channel-search-input-wrapper-background-color: white;
  --str-chat__channel-search-input-wrapper-active-background-color: white;
  --str-chat__channel-search-input-wrapper-active-border-radius: 50px;
  /* Mobile styles */

  @media screen and (max-width: 639px) {
    --str-chat__channel-list-border-inline-end: 0;
  }
}

/* 
글씨체 안바뀜
전체 칼라가 바뀜-> 그래서 배경화면/유저이름 안바뀜
채팅방에 유저이름 위치변경안됨
placeholder변경안됨
Search bar변경안됨 */
/* --str-chat__message-send-color:white; */
/* --str-chat__message-actions-box-border-radius:20px; */
/* --str-chat__message-bubble-border-inline-end:20px;
  --str-chat__message-bubble-border-inline-start:20px; */
/* --str-chat__channel-border-inline-end:none; */
/* --str-chat__message-input-border-block-start:none; */
/* --str-chat__secondary-background-color:rgba(255, 255, 255,0.1); */
/* --str-chat__border-radius-sm: 14px; */
/* --str-chat__border-radius-md:18px; */
/* --str-chat__font-family:Urbanist;
  --str-chat__caption-text:Urbanist; */

/* ChatList Styling */
.str-chat__channel-preview-messenger {
  height: 56px;
}

.str-chat__channel-preview-messenger--name {
  font-size: 14px;
  font-weight: 600;
}

.str-chat__channel-preview-messenger--last-message {
  font-size: 10px;
  /* Add back when we figure out timestamps */
  /* max-width: 90%; */
}

/* SearchBar */
.str-chat__channel-search-bar {
  /* padding: 16px 0 !important; */
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.str-chat__channel-search-bar-button {
  background-color: white !important;
  border-radius: 50%;
  margin-right: 10px;
}

.str-chat__channel-search-input {
  padding-left: 12px;
}

.str-chat__channel-search-input--icon {
  position: absolute;
  right: 10px;
  background-color: black;
  background-image: url('/search_24px.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  margin-right: 4px;
}

.str-chat__channel-search-input--icon svg {
  background-color: transparent;
  stroke: transparent;
}

.str-chat__channel-search-input--icon svg path {
  fill: transparent;
}

/* Message List/ Chat styling */

.str-chat__date-separator-line {
  display: none;
}

.str-chat__date-separator-date {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
